@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,400;1,500&display=swap');

@import "tailwindcss";

@layer base {
  /* Global styles */
  body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000;
    color: #fff;
  }

  h1{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #e2dfd2;
    text-align: center;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    margin-top: 2rem;
  }

  h2{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #e2dfd2;
  }

  h3{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #e2dfd2
  }

  h4{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    color: #e2dfd2;
  }

  h5{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    color: #e2dfd2;
  }
}

.bg-hero{
  @apply bg-cover bg-center;
  background-image: url('public/background.png');
} 

@layer components {
  main{
    @apply min-h-screen flex items-center justify-center;
  }

  .wrapper{
    @apply flex flex-col items-center justify-center;
  }

  header img{
    @apply mx-auto h-auto w-128;
    image-rendering: optimizeQuality;
     
  }

  .search{
    @apply flex items-center bg-gray-500 rounded-full py-2 w-full max-w-xl mt-6;
  }

  .search input {
    @apply flex-1 bg-transparent text-white placeholder-gray-300 outline-none;
    font-size: 1rem;
  }

  .search img{
    @apply w-6 h-6 ml-2;
  }

  /* Movie card component */
  .movie-card {
    @apply bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden;
    width: 300px;
    height: 450px;
  }

  .movie-card img {
    @apply w-full h-2/3 object-cover;
  }

  .movie-card-title {
    @apply font-semibold text-xl mt-4 px-4;
  }

  .movie-card-description {
    @apply text-sm text-gray-400 px-4 py-2;
  }
}

@layer utilities {
  /* Text Gradient */
  .text-gradient {
    background: linear-gradient(90deg, rgb(119, 0, 255) 0%, rgba(0, 204, 255, 1) 100%);
    background-clip: text;
    color: transparent;
  }

  /* Fancy Text */
  .fancy-text {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #f5a623;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  /* Hide Scrollbar */
  .hide-scrollbar {
    overflow: hidden;
  }
}